# The following list identifies users with rights to approve changes to sensitive branches.
# The mapping can be refined and/or made more granular as needed.
* @mcasebier_aptean
* @hwu_aptean
* @rabraham_aptean
* @anibraz_aptean
* @aschultz_aptean
* @sselvaraj_aptean
* @bjayachandran_aptean