<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <!-- Temporarily set to accept for lock file generation - should be tightened after initial setup -->
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>
