<appSettings>
    <!-- Traverse System Options -->
	<!-- Change these options to your liking -->
	<add key="EnableAuditLogProcess" value="True" />
  <add key="ApiUserPortalTitle" value="Traverse API"/>
	<!-- Traverse Connection Settings-->
	<!-- It is not recommended to edit this file outside of the API installer -->
	<add key="TravLicenseServer" value="COREYT" />
	<add key="TravLicensePort" value="2117" />
	<add key="TraverseSysDB" value="APISYS" />
  <add key="DfltCompanyDB" value="API" />
  <add key="ApiTravUsername" value="webapi" />
  <add key="ApiTravPassword" value="" />
	<!-- API Settings -->
  <add key="ApiDatabase" value="TraverseApi"/>
  <add key="DataProviderPath" value=".\DataProvider"/>
  <add key="TokenEndpoint" value="/api_token"/>
  <!-- Cors Policy Origins (comma separated list; leading and trailing spaces will be removed) -->
  <add key="CorsOrigins" value="" />
</appSettings>