<appSettings>
    <!-- Traverse System Options -->
	<!-- Change these options to your liking -->
	<add key="EnableAuditLogProcess" value="True" />
  <add key="ApiUserPortalTitle" value="Traverse API"/>
	<!-- Traverse Connection Settings-->
	<!-- It is not recommended to edit this file outside of the API installer -->
	<add key="TravLicenseServer" value="localhost" />
	<add key="TravLicensePort" value="2114" />
	<add key="TraverseSysDB" value="SYS" />
  <add key="DfltCompanyDB" value="GEN" />
  <add key="ApiTravUsername" value="WebMaster" />
  <add key="ApiTravPassword" value="nlUiwxCpeKFWBf+eDcP7vG5IgIVjwY/u+UesuX/yJ5Y=" />
	<!-- API Settings -->
  <!--<add key="ApiDatabase" value="TraverseApi"/>-->
  <add key="DataProviderPath" value=".\DataProvider"/>
  <add key="TokenEndpoint" value="/api_token"/>
  <!-- Cors Policy Origins (comma separated list; leading and trailing spaces will be removed) -->
  <add key="CorsOrigins" value="" />
</appSettings>