@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ApiLogin

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    <h2 class="title">Generate Token</h2>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <div  class="form-group">
            <p>
                This API uses OAuth security model. In order to generate the Client ID and Client Secret that you need in order to generate an authorization ticket, you will need to click the button below.<br />
                The button will generate your requirements and return you to the home page where you can retrieve your credentials.<br />
                In the event, you need to regenerate these credentials, you can do so by returning to this page. It is possible that in the ERP system that the owner could force you to regenerate as well.
            </p>
        </div>

        <div  class="form-group">
            <p>
                <input type="submit" value="Generate" class="btn btn-default co" />
            </p>
        </div>
    </fieldset>
}