body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    line-height: 1.4285;
    color: #333333;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.title {
    font-family: "Arial";
    font-weight: 400;
    margin: 0 15px 30px 15px;
    color: #0067A0;
    font-size: 36px;
    font-size: 2.4rem;
    line-height: 36px;
    line-height: 2.4rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b6c1ca;
    font-family: "Arial",sans-serif;
}

.btn {
    display: inline-block;
    padding: 7px 20px 8px 20px;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: background-color,0.3s;
    -moz-transition: background-color,0.3s;
    -ms-transition: background-color,0.3s;
    -o-transition: background-color,0.3s;
    transition: background-color,0.3s;
}

.btn-default {
    color: #fff;
    background-color: #0067A0;
    border-color: #0067A0;
}

.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
    width: auto;
}

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0px;
        overflow: visible !important;
    }

.navbar-nav {
    margin: 7px -15px;
}

header .navbar .navbar-nav {
    border-collapse: collapse;
    position: absolute;
    z-index: 10000;
    right: 0px;
    background-color: #f2f2f2;
    margin: 1px 0 0 0;
    max-width: 1000px;
    width: inherit;
    padding: 0 15px;
    max-height: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=#{$opacity * 100});
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s,max-height 0.5s ease-in;
    -moz-transition: opacity 0.5s,max-height 0.5s ease-in;
    -ms-transition: opacity 0.5s,max-height 0.5s ease-in;
    -o-transition: opacity 0.5s,max-height 0.5s ease-in;
    transition: opacity 0.5s,max-height 0.5s ease-in;
}

header .navbar.bottom .navbar-nav > li {
    height: 60px;
    float: none;
    vertical-align: bottom;
    text-align: center;
    display: table-cell;
}

header .navbar .navbar-nav > li > a {
    border-top: solid 5px transparent;
    padding: 15px 20px 18px 20px !important;
    color: #006ba6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.2rem;
    -webkit-transition: color,0.3s;
    -moz-transition: color,0.3s;
    -ms-transition: color,0.3s;
    -o-transition: color,0.3s;
    transition: color,0.3s;
    line-height: 22px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.dropdown-toggle:focus {
    outline: 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a {
    color: #006ba6;
    -webkit-transition: color,0.3s;
    -moz-transition: color,0.3s;
    -ms-transition: color,0.3s;
    -o-transition: color,0.3s;
    transition: color,0.3s;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
}

header .navbar .navbar-nav .open > a {
    border-top-color: #006ba6;
    background-color: #f2f2f2;
    color: #1a1a1a;
}

header .navbar .dropdown-menu > li > ul > li {
    list-style: none;
}

header .navbar .dropdown-menu > li > ul {
    padding: 0 15px;
    margin: 0;
}

header .navbar .dropdown-menu {
    background-color: #f2f2f2;
    border: none;
    padding: 0;
    margin: -1px auto !important;
    max-height: 0px;
    overflow: hidden;
    min-width: 225px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=#{$opacity * 100});
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0px 0px 0px transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: opacity 0.5s,max-height 0.5s ease-in;
    -moz-transition: opacity 0.5s,max-height 0.5s ease-in;
    -ms-transition: opacity 0.5s,max-height 0.5s ease-in;
    -o-transition: opacity 0.5s,max-height 0.5s ease-in;
    transition: opacity 0.5s,max-height 0.5s ease-in;
}

header .navbar .navbar-nav .open > .dropdown-menu {
    max-height: 1000px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=#{$opacity * 100});
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.open > .dropdown-menu {
    display: block;
}

.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after {
    content: " ";
    display: table;
}

.clearfix::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after {
    clear: both;
}

.container-fluid .row {
    margin-left: 0px;
    margin-right: 0px;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .navbar {
    margin-bottom: 0px;
    min-height: inherit;
}

    header .navbar + .navbar {
        border-bottom: solid 1px #b6c1ca;
    }

body-content {
    width: 100%;
    height: 95%;
    min-height: inherit;
}

footer {
    position: sticky;
    bottom: 0;
    width: inherit;
    height: 3%;
    min-height: 3rem;
}

.topbar-wrapper {
    display: none;
    visibility: hidden;
}